APP_VERSION=0.0.1

APP_LOG_LEVEL=DEBUG
LOG_FILE_BACKUP_COUNT=10
LOGFILE_PATH =/home/etdadm/logs/etd
# if set to true, file logging will be turned off
CONSOLE_LOGGING_ONLY=false 

DIMS_INGEST_URL=
DIMS_HEALTHCHECK_URL=

CONSUME_QUEUE_NAME: etd_ingested_into_alma
PUBLISH_QUEUE_NAME: etd_ingested_into_drs
BROKER_URL= "ampqs://un:pw@mybroker.com:5671"